body {
	margin:0;
	padding:0;
	background-color: #FFF;
	font-family:Verdana, Geneva, sans-serif;
}

.content {
	margin-left:30px;
}

.navbar, .navbar a {
	background-color:#000;
	padding:10px;
	color:#FFF;
	text-decoration:none;
	min-height:30px;
}

.leftnav{
    float: left;
}

.rightnav {
    float: right;
}

#wrapper {
	width: 80%;
    height: 100px;
    margin: 0;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 25px;
}

#status-icon {
  float: left;
  width: 15%;
  overflow: hidden;
  border: 1px;
  border-style: solid;
  border-radius: 25px;
}

#status-message {
	overflow: hidden;
}

.PieChart {
      height: 200px;
      margin-left: 0;
}

@-webkit-keyframes heartbeat{
    0%{-webkit-transform:scale(1)}
    50%{-webkit-transform:scale(1.4)}
    100%{-webkit-transform:scale(1)}
}
@-moz-keyframes heartbeat{
    0%{-moz-transform:scale(1)}
    50%{-moz-transform:scale(1.4)}
    100%{-moz-transform:scale(1)}
}
@-o-keyframes heartbeat{
    0%{-o-transform:scale(1)}
    50%{-o-transform:scale(1.4)}
    100%{-o-transform:scale(1)}
}
@keyframes heartbeat{
    0%{transform:scale(1)}
    50%{transform:scale(1.4)}
    100%{transform:scale(1)}
}

.heartbeat{ -webkit-animation-name:heartbeat; -moz-animation-name:heartbeat; -o-animation-name:heartbeat; animation-name:heartbeat; }
.animate-infinite-heartbeat { -webkit-animation: heartbeat 2s infinite; /* Chrome, Safari, Opera */ animation: heartbeat 2s infinite; }
