<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Developer Program Dashboard">
    <meta name="author" content="@geekshe">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title>{% block title %}Dashboard{% endblock %} - Developer Pulse</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>

<body>

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-heartbeat heartbeat animate-infinite-heartbeat "></i> Developer Pulse </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a>
                </li>
                <li><a href="/bubble">Overall</a>
                </li>
                <li><a href="/env">Performance</a>
                </li>
                <li><a href="/social">Outreach</a>
                </li>
                <li><a href="/map">Dev Map</a>
                </li>
                <li><a href="http://twitter.com/geekshe" target="_blank"><i class="fa fa-twitter-square"></i> @geekshe</a>
                </li>
                <li><a href="http://linkedin.com/in/laurelkline" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                </li>
                <li><a href="http://github.com/geekshe" target="_blank"><i class="fa fa-github-square"></i> GitHub</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for category, message in messages %}

      <div class="alert alert-{{ category }}">
          {{ message }}.
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="content">
{% block content %}
   <!-- put your content here -->
{% endblock %}
</div>
<hr>
<p>Copyright &copy; 2017 <a href="http://geekshe.com">GeekShe</a>. All rights reserved.</p>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>