<!doctype html>
<html>
<head>
<title>{% block title %}Welcome{% endblock %} - Hello World!</title>
<LINK REL=StyleSheet HREF="/static/css/styles.css" TYPE="text/css">
</head>

<body>
<div class="navbar">
  <div class="leftnav"><a href="/">Home</a></div>
<!--   {% if 'username' in session %}
  <div class="rightnav"><a href="/logout">Log out</a></div>
  {% else%}
  <div class="rightnav">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  </div>
  {% endif %}  -->
</div>



{% with messages = get_flashed_messages() %}
  {% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
  {% endif %}
{% endwith %}

<div class="content">
{% block content %}
   <!-- put your content here -->
{% endblock %}
</div>
<hr>
<p>Copyright &copy; 2017 <a href="http://geekshe.com">GeekShe</a>. All rights reserved.</p>
</body>
</html>