{% extends 'base.html' %}
{% block title %}App Contributions to Customer Success{% endblock %}

{% block content %}

  <!-- jQuery -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script src="/static/js/call_by_date.js"></script>


<h1>App Ecosystem</h1>
<p>Ecommerce API applications plotted by conversion, retention, life-time value and type.</p>
<div class="row">
  <!-- /.col-lg-8 -->
  <div class="col-lg-8">
    <canvas id="myChart" width="800" height="600"></canvas>
    <script>
    // Chart.defaults.global.layout.padding = 3;
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bubble',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [
        {
            label: 'Search',
            data: [
                    {% for app in asf['search'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}{% else %}.{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#003399",
            hoverBackgroundColor: "#004de6",
        },
        {
            label: 'Inventory',
            data: [
                    {% for app in asf['inventory'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#06a593",
            hoverBackgroundColor: "#02f9dd",
        },
        {
            label: 'Listing',
            data: [
                    {% for app in asf['listing'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#487a17",
            hoverBackgroundColor: "#74bc2d",
        },
        {
            label: 'Email',
            data: [
                    {% for app in asf['email'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#ccc",
            hoverBackgroundColor: "#ddd",
        },
        {
            label: 'Sourcing',
            data: [
                    {% for app in asf['sourcing'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#c40718",
            hoverBackgroundColor: "#f70419",
        },
        {
            label: 'Marketing',
            data: [
                    {% for app in asf['marketing'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#d13494",
            hoverBackgroundColor: "#a04b7f",
        },
        {
            label: 'Shopping Cart',
            data: [
                    {% for app in asf['shopping cart'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#ed6b21",
            hoverBackgroundColor: "#f75b02",
        },
        {
            label: 'Buying',
            data: [
                    {% for app in asf['buying'] %}
                           {
                               x: {%if app['conversion'] is defined %}{{ app['conversion'] }}.{% else %}{{ range(1, 9) | random }}{% endif %},
                               y: {{ app['app_avg_retention'] }},
                               r: {{ '%0.1f' % (app['ltv'] / 100) |float }}
                           },
                    {% endfor %}
            ],
            backgroundColor:"#e8c70d",
            hoverBackgroundColor: "#ffdd21",
        },



        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
    </script>
  </div>
</div>

{% endblock %}
