{% extends 'base.html' %}
{% block content %}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>API Calls by Volume (Production)</h1>

  <!-- Identify where the chart should be drawn. -->
<div id="ProdPieChart" style="width:400, height:300"></div> 

  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Call');
      data.addColumn('number', 'Percent Volume');
      data.addRows([
        {% for agg_request in agg_requests %}
          ['{{agg_request.call_code}}', {{agg_request.success_count / env_total}}],
        {% endfor %}
      ]);

      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('ProdPieChart'));
      chart.draw(data, null);
    }
  </script>

{% endblock %}