{% extends 'base.html' %}
{% block content %}

<h1>Developer Program Pulse</h1>

<p>Developer Program effectiveness.</p>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{ overall_status['status_color'] }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- Status icon -->
                        <a href="/bubble"><i class="fa {{ overall_status['status_icon'] }} fa-5x"></i></a>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ overall_status['rating'] }}/10</div>
                        <div>Overall Status</div>
                    </div>
                </div>
            </div>
            <a href="/bubble">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{ performance_status['status_color'] }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- Status icon -->
                        <a href="/env"><i class="fa {{ performance_status['status_icon'] }} fa-5x"></i></a>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ performance_status['rating'] }}/10</div>
                        <div>Performance Status</div>
                    </div>
                </div>
            </div>
            <a href="/env">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{ outreach_status['status_color'] }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- Status icon -->
                        <a href="/social"><i class="fa {{ outreach_status['status_icon'] }} fa-5x"></i></a>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ outreach_status['rating'] }}/10</div>
                        <div>Outreach Status</div>
                    </div>
                </div>
            </div>
            <a href="/social">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}