{% extends 'base.html' %}
{% block content %}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <!-- jQuery -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/dev_density.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
       map: 'world_en', 
        backgroundColor: '#ffffff',
        color: '#cccccc',
        hoverOpacity: 0.7,
        selectedColor: '#666666',
        enableZoom: true,
        showTooltip: true,
        scaleColors: ['#afd69a', '#478227'],
        values: dev_density,
        normalizeFunction: 'polynomial'
     });
    });
    </script>

<h1>Developer Locations</h1>


<div id="vmap" style="width: 600px; height: 400px;"></div>


{% endblock %}
