{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<h1>{{ movie.title }} {% if movie.released_at != None %}
                        ({{ movie.released_at.year }})
                      {% endif %}
</h1>

<p>Average rating: {{ average }}</p>
{% if prediction %}
    <p>We predict you will rate this movie {{ prediction }}.</p>
{% endif %}

{% if 'username' in session %}
  <h2>Rate this movie</h2>


  <form action="/movies/{{movie.movie_id}}" method="POST">

    <label>Rating: </label>
      <select name="rating_select" id="rating">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      {% if is_rated %}
        <input type="hidden" name="rating_status" value="update_rating">
        <input type="submit" value="Update">
      {% else %}
        <input type="hidden" name="rating_status" value="add_rating">
        <input type="submit" value="Rate">
      {% endif %}
        <input type="hidden" name="average" value="{{ average }}">
  </form>
{% endif %}

<h2>All ratings for this movie</h2>
<!-- If movie has ratings,show the table -->

{% if movie.ratings %}

  <table>
    <tr>
      <th>User</th>
      <th>Rating</th>
    </tr>
    {% for rating in movie.ratings %}
    <tr>
      <td><a href="/users/{{ rating.user_id }}">User {{ rating.user_id }}</a></td>
      <td>{{ rating.score }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}


{% endblock %}