{% extends 'base.html' %}

{% block title %}User {{ user.user_id }}{% endblock %}

{% block content %}

<h1>User {{ user.user_id }}</h1>

  <ul>
    <li>Name: User {{ user.user_id }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Age: {{ user.age }}</li>
    <li>Zip code: {{ user.zipcode }}</li>
  </ul>

<h2>Rated Movies</h2>

{% if user.ratings %}

  <table>
    <tr>
      <th>Movie</th>
      <th>Rating</th>
    </tr>
    {% for rating in user.ratings %}
    <tr>
      <td><a href="/movies/{{ rating.movie.movie_id }}">{{ rating.movie.title }}</a></td>
      <td>{{ rating.score }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}